body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#introScreen {
    display:flex;
    flex-direction: column;
}

#timerScreen p {
    text-align: right;

}

.startBtn {
    background-color: royalblue;
}

#questionsScreen {
    display: none;
}

#scoreScreen {
    display: none;
}

#highScoreScreen {
    display:none;
}
#questionsScreen ul li {
    border: 1px solid purple;
    width: 250px;
    margin:5px;
    border-radius: 5px;
    background-color: purple;
    color: white;
}
